*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Oswald', sans-serif;
}

main{
  margin-top: 6vh;
}

img{
  width: -webkit-fill-available;
}

.topnav {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
}

.topnav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  background-color: #8C0D1E;
  color: #f2f2f2;
  /* text-align: center; */
  
  text-decoration: none;
  font-size: 8vw;
}

.topnav a:hover {
  background-color: #9c0e24;
  color: rgb(255, 255, 255);
}
