*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff;
}
main{
  margin-top: 8vh;
}
img{
  width: -webkit-fill-available;
}
.topnav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #ae182c;
}
.topnav a {
  width: 28%;
  text-align: center;
  text-decoration: none;
  font-size: 8vw;
}
.redAndWhite{
  background-color: #8C0D1E;
  color: #fff;
}
.whiteAndRed{
  background-color: #fff;
  color: #8C0D1E;
}
