*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: content-box;
    font-family: 'Oswald', sans-serif;
    /* zoom: 33%; */
}
img{
  width: -webkit-fill-available;
}
/* .menuPic{

} */
header{
  box-sizing: content-box;
}
.headNavbar {
    justify-content: space-evenly;
    display: flex;
    vertical-align: middle;
    background-color: rgb(33, 33, 33);
    /* overflow: auto; */
  }
  .headNavbar a {
    display: flex;
    vertical-align: middle;
    /* float: none; */
    padding: 4px;
    color: white;
    text-decoration: none;
    font-size: 12vw;
    width: 27%;
    text-align: center;
  }
  .headNavbar a:hover {
    background-color: #000;
  }
  .headNavbar a.active {
    background-color: #e4ff32;
  }