*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    /* zoom: 33%; */
}
main{
  margin-top: 18wh;
}
img{
  width: -webkit-fill-available;
}
.topnav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.topnav a {
  width: 28%;
  background-color: black;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 10vw;
}

.topnav a:hover {
  background-color: rgb(85, 85, 85);
  color: black;
}
